#page-top-bar
  .row
    .col-3.d-none tel
    .col.text-center
      a(href=links.home(), title=config.name)#logo
    .col.text-right Buy
.c-page-menu
  if(pageMenu)
    ul.c-page-menu_list
      each item in pageMenu
        li.c-page-menu_i
          a(href=item.link, title=item.title, class=item.css)= item.text
