.c-page-menu.d-none.d-md-block
  if (pageMenu)
    ul.c-page-menu_list
      each item in pageMenu
        li.c-page-menu_i(class = (currentPageLink == item.link || item.link == '/articles' && currentPageLink.indexOf('/article') == 0 || item.link == '/shop' && currentPageLink.indexOf('/shop') == 0) ? 'selected '+(item.css||'') : null)
          a(href=item.link, title=item.title)= item.text
