if (promotedShopCategories && promotedShopCategories.items.length)
  each promotedCategory in promotedShopCategories.items
    if (promotedCategory.topProducts.items.length)
      .c-group
        .c-group_title
          if (promotedCategory.topProducts.items.length < promotedCategory.topProducts.total)
            .c-group_title_more
              a(href=links.shop.category(promotedCategory.slug))= __('view_all')
          h4
            a(href=links.shop.category(promotedCategory.slug), title=promotedCategory.title||promotedCategory.name)= promotedCategory.name || promotedCategory.title
        .c-group_content
          +productListBlock(promotedCategory.topProducts.items, {itemClass: 'col-6 col-md-3'})