extends ./root

block page_header
  .container
    include ../includes/page-header_desktop

block page_main
  include ../mixins/image-slider
  block slider_content
  #inner-content.row
    .col-lg-3.d-none.d-sm-none.d-lg-block
      #left-content
        include ../includes/page-left-content_desktop

    .col-lg-9
      #main-content
        block main_content