extends ./root

block page_header
  .container
    include ../includes/page-header_desktop

block page_main
  include ../mixins/articles
  .row
    .col-md-3.d-none.d-sm-none.d-md-block
      #left-content
        include ../includes/page-left-content_desktop

    .col-md-9
      #main-content
        block main_content