extends ./layouts/layout

block main_content
  h2= __('shop_cart')

  if (Cart.quantity === 0)
    .c-alert(role="alert")= __('empty_cart_info')
    br
    include ./includes/promoted-categories-products
  else
    br
    include ./includes/cart-table
    hr
    .row.justify-content-end.text-right
      .col-12.col-sm-7
        include ./includes/cart-totals
    br
    .text-right
      a.btn.btn-warning.btn-lg.sp-count_purchase-btn(href=links.checkout())= __('finish_purchase')

