extends ./layouts/layout

block main_content
  .page-title
    h2.page-title_h2
      if (selectedShopCategory)
        a(href=links.shop())= __('shop')
        |  / 
        = (selectedShopCategory.name || selectedShopCategory.title)
      else
        = __('shop')

  .c-catalog-menu_inline.d-lg-none
    include ./includes/shop-categories
  +productListBlock(shopProducts.items, {itemClass: 'col-6 col-md-3'})
  if (selectedShopCategory)
    +shopCategoryPager(shopProducts, selectedShopCategory)
  else
    +shopPager(shopProducts)
  .c-catalog-menu_inline.d-lg-none
    include ./includes/shop-categories