
.article {
    overflow: hidden;
}

.article_body {
    a{
        color: $primary-color;
    }
}

.article_details {
    color: $muted-color;
    font-size: 80%;
    margin-bottom: 10px;
}

.article_pic {
    max-width: 100%;
}

.article_pic_a {
    // width: 250px;
    text-align: center;
    background: $white;
    border-radius: $border-radius;
    padding: 2px;
    // float: right;
    margin: 10px;
}

.article_video_p {
    text-align: center;
}

.article_video {
    max-height: 400px;
    max-width: 100%;
}