
.c-catalog-menu_inline {
    margin-bottom: 20px;
    .c-catalog-menu_i {
        display: inline-block;
        padding-left: 20px;
    }
}

.c-catalog-menu {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.c-catalog-menu_i {
    display: block;
    padding: 1px 0px 1px 10px;
    // font-size: 100%;
    a {
        color: $primary-color;
        font-weight: 500;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-decoration: none;
        &:hover{
            border-bottom: 2px solid $primary-color;
        }
    }
    &.selected {
        a {
            // text-decoration: underline;
            // text-decoration-color: $body-color;
            border-bottom: 2px solid $primary-color;
        }
    }
}