
.c-cat-menu_inline {
    margin-bottom: 20px;
    .c-cat-menu_i {
        display: inline-block;
        padding-left: 20px;
    }
}

.c-cat-menu {
    margin: 0px;
    padding: 0px;
    list-style: none;
    .c-cat-menu {
        margin-left: 10px;
        font-size: 90%;
    }
}

.c-cat-menu_i {
    display: block;
    padding: 1px 0px 1px 10px;
    a {
        font-weight: 500;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &.selected {
        & > a {
            color: $primary-color;
            text-decoration: underline;
        }
    }
}
