
#page-footer {
    font-size: 90%;
    padding: 10px;
    background: $accent-color;
    color: darken($muted-color, 30%);
    margin-top: 40px;

    .c-page-menu {
        text-align: center;
        font-size: 80%;
        padding: 5px;
    }

    .c-page-menu_list {
        white-space: normal;
    }

    .c-page-menu_i {
        margin-bottom: 4px;
    }
}

.copyright {
    font-size: 80%;
    color: $muted-color;
    text-align: center;
}
