$header-height: 60px;
#logo {
    display: block;
    width: 340px;
    height: $header-height;
    background-image: url('/static/img/simple-logo.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: $accent-color;
    overflow: hidden;
    max-width: 100%;
}

#page-header {
    height: $header-height;
    overflow: hidden;
    z-index: 1000;
}
#page-header__inner {
    background-color: $primary-color;
    height: $header-height;
    overflow: hidden;
}

#header-address {
    display: block;
    height: $header-height;
    color: $white;
    font-weight: 500;
    padding-top: 5px;
    svg {
        width: 18px;
        height: 18px;
        fill: white;
        display: inline-block;
        margin-right: 12px;
    }
    div {
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.c-ulangs {
    height: $header-height;
    float: right;
    a {
        display: inline-block;
        text-transform: uppercase;
        padding: 0px 15px;
        padding-top: $header-height/3.5;
        font-weight: bold;
        font-size: 110%;
        text-decoration: none;
        margin-right: 2px;
        height: 100%;
        color: $layout-color;
        &.selected,
        &:hover {
            color: $primary-color;
            background: $layout-color;
        }
    }
}

.c-cart-icon {
    float: right;
    display: block;
    height: $header-height;
    background: $accent-color;
    color: $primary-color;
    padding: 0px 15px;
    padding-top: $header-height/3.5;
}

.c-cart-icon_img {
    display: block;
    float: left;
    height: 24px;
    width: 20px;
    path {
        fill: $primary-color;
    }
}

.c-cart-icon_count {
    display: inline-block;
    padding-left: 6px;
    font-size: 120%;
    line-height: 22px;
    font-weight: bold;
}