
$header-height: 60px;

#logo {
    display: block;
    width: 340px;
    height: $header-height;
    background: url('/static/img/logo.png') -60px center no-repeat;
    float: left;
    overflow: hidden;
}

#page-header {
    height: $header-height;
    background-color: $primary-color;
    overflow: hidden;
}

#header-address {
    display: block;
    float: left;
    height: $header-height;
    color: $white;
    font-weight: bold;
    padding: 5px 20px 0px 20px;
}
