
#logo {
    display: inline-block;
    margin: 0px auto;
    width: 130px;
    height: 32px;
    background: url('/static/img/logo.png') center center no-repeat;
    // border-radius: $border-radius;
    // background-color: $pink;
    // padding: 2px 10px;
    // font-weight: bold;
    // text-transform: uppercase;
    // color: $white;
    // text-decoration: none;
    // position: relative;
    // &:after {
    //     background-color: $pink;
    //     border-radius: 100%;
    // }
}

#page-header {
    margin: 40px 0px;
}

#page-menu {
    display: none;
    -webkit-transition: height .3s linear, padding-top .3s linear, padding-bottom .3s linear, border-top-width .3s linear, border-top-width .3s linear;
    transition: height .3s linear, padding-top .3s linear, padding-bottom .3s linear, border-top-width .3s linear, border-top-width .3s linear;

    padding: 10px;
    background: darken($body-bg, 5%);
    text-align: center;
    margin-top: 10px;
    position: relative;

    // &:before {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     border-bottom: 8px solid #ff0000;
    //     border-left: 8px solid transparent;
    //     border-right: 8px solid transparent;
    //   }
      
      &:after {
        content: '';
        position: absolute;
        left: 22px;
        top: -10px;
        border-bottom: 10px solid darken($body-bg, 5%);
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
      }
}


.page-menu_list {
    margin: 0px;
    display: block;
    list-style: none;
    padding: 0px;
}
.page-menu_i {
    display: block;
    text-align: center;
    padding: 2px 5px;
    a {
        display: inline-block;
        padding: 5px 0px;
        font-weight: bold;
        font-size: 110%;
        position: relative;
        &:hover, &.active {
            // color: $accent-color;
            text-decoration: none;
            &:before {
                content: '';
                position: absolute;
                bottom: 2px;
                left: 0;
                width: 100%;
                height: 4px;
                opacity: 0.8;
                background: $accent-color;
            }
        }
    }
}

@media (min-width: 576px) {
    .page-menu_list {
        margin: 0px auto;
        display: inline-block;
        overflow: hidden;
        word-wrap: nowrap;
    }
    .page-menu_i {
        display: inline-block;
    }
}

.nav-trigger {
    height: 24px;
    cursor: pointer;
    position: relative;
    margin: 0px 20px;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    &:hover {
        opacity: .6;
    }
    &.active {
        opacity: .25;
    }
    i {
        display: inline-block;
        width: 22px;
        background: #000;
        height: 2px;
        position: relative;
        vertical-align: top;
        margin-top: 10px;
        -webkit-transition: background 0.3s ease-in-out;
        -moz-transition: background 0.3s ease-in-out;
        -o-transition: background 0.3s ease-in-out;
        transition: background 0.3s ease-in-out;
        &:before{
            content: '';
            width: 22px;
            background: #000;
            height: 2px;
            position: absolute;
            top: -8px;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }
        &:after {
            content: '';
            width: 22px;
            background: #000;
            height: 2px;
            position: absolute;
            top: auto;
            bottom: -8px;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }
    }
}
