html {
    -webkit-font-smoothing: antialiased;
}

#page-content {
    padding: 15px 0px;
}

.page-title {
    margin-bottom: 20px;
}
.page-title_h2 {
    position: relative;
    background: $body-bg;
    &:before {
        content: '';
        width: 100%;
        height: 2px;
        background: darken($body-bg, 5%);
        // border-radius: 100%;
        position: absolute;
        left: 0px;
        // top: 50%;
        // margin-top: -3px;
        bottom: -4px;
        border-left: 50px solid $primary-color;
    }
}

.c-group {
    margin-bottom: 20px;
}
.c-group_title {
    position: relative;
    // padding-left: 16px;
    margin-bottom: 20px;
    &:before {
        content: '';
        width: 100%;
        height: 2px;
        background: darken($body-bg, 5%);
        // border-radius: 100%;
        position: absolute;
        left: 0px;
        // top: 50%;
        // margin-top: -3px;
        bottom: -4px;
        border-left: 50px solid $primary-color;
    }
}

.c-group_content {
    overflow: hidden;
}