
#narbutas-html {
    img {
        max-width: 100%;
    }
    a {
        color: $primary-color;
    }
    .subitem {
        display: flex;
        .img {
            flex: 1;
        }
        .text {
            flex: 5;
        }
    }
    .hidden {
        display: none;
    }
}
