#page-top-info {
    text-align: center;
    padding: 10px;
    color: #fff;
    font-weight: 500;
    // font-size: 110%;
    background-color: $body-color;
    span {
        padding: 0px 6px;
        display: inline-block;
        white-space: nowrap;
    }
    svg {
        width: 18px;
        height: 18px;
        fill: white;
        display: inline-block;
        margin-right: 12px;
    }
}