
.c-page-menu {
    overflow: hidden;
    padding: 14px 0px;
    text-align: center;
}
// #top-page-menu {
//     background-color: #f1f1f1;
// }

.c-page-menu_list {
    list-style: none;
    margin: 0px auto;
    padding: 0px;
}
.c-page-menu_i {
    display: inline-block;
    padding: 1px 8px;
    font-size: 110%;
    font-weight: 500;

    a {
        text-decoration: none;
        padding: 1px 0px 2px 0px;
        &:hover {
            border-bottom: 2px solid $link-color;
        }
    }

    &.selected {
        a {
            color: $primary-color;
            border-bottom: 2px solid $primary-color;
        }
    }
}