.c-prod-bl {
    padding: 0px;
    list-style: none;
}

.c-prod-bl_item {
    margin-bottom: 20px;
}

.c-prod-bl_i {
    display: block;
    background: $layout-dark-color;
    border-radius: $border-radius;
    overflow: hidden;
    padding: 2px;
    &:hover,&:active,&:focus {
        background: $accent-color;
        text-decoration: none;
    }
}

.c-prod-bl_img {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    background: $white;
    text-align: center;
    padding: 2px;
    display: block;
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.c-prod-bl_pic {
    max-height: 99%;
    max-width: 99%;
}

.c-prod-bl_priceline {
    background: $accent-color;
    padding: 2px 6px;
    text-align: center;
    font-size: 110%;
    display: block;
}

.c-prod-bl_price {
    color: $primary-color;
    font-weight: bold;
}

.c-prod-bl_oldPrice {
    display: inline-block;
    margin-right: 10px;
}

.c-prod-bl_title {
    margin:0px;
    padding: 2px 6px;
    text-align: center;
}