
.u-content-box {
    background: $white;
    padding: 5px;
}

.u-slide-visible {
    height: auto;
}

.u-btn {
    display: inline-block;
    padding: 3px 10px;
}

.u-btn_accent {
    background-color: $accent-color;
    font-weight: 500;
    text-decoration: none !important;
    &:hover {
        background-color: darken($accent-color, 5%)
    }
}

.u-br {
    display: block;
    padding-bottom: 1rem;
}

.table th {
    white-space: nowrap;
    text-overflow: ellipsis;
}