.u-content-box {
    background: $white;
    padding: 5px;
}

.u-slide-visible {
    height: auto;
}

.u-btn {
    display: inline-block;
    padding: 3px 10px;
}

.u-btn_accent {
    background-color: $accent-color;
    font-weight: 500;
    text-decoration: none !important;
    &:hover {
        background-color: darken($accent-color, 5%)
    }
}

.u-br {
    display: block;
    padding-bottom: 1rem;
}

.table th {
    white-space: nowrap;
    text-overflow: ellipsis;
}

/**
 * 1. Fluid images for responsive purposes.
 * 2. Offset `alt` text from surrounding copy.
 * 3. Setting `vertical-align` removes the whitespace that appears under `img`
 *    elements when they are dropped into a page as-is. Safer alternative to
 *    using `display: block;`.
 */

img.lazy {
    max-width: 100%;
    /* [1] */
    font-style: italic;
    /* [2] */
    vertical-align: middle;
    /* [3] */
}