
$link-color: #111;
$accent-color: #F6D200;
$primary-color: #E30016;
$muted-color: #868e96;
$layout-color: #fff;//#f1f1f1;
$layout-dark-color: darken($layout-color, 5%);
$theme-colors: (
  "accent": #F6D200,
  "primary": #E30016,
  "danger": #ff4136
);
// $blue:     #F34175;
// $indigo:  #6610f2 !default;
// $purple:  #6f42c1 !default;
// $pink:    #e83e8c !default;
// $red:     #dc3545 !default;
// $orange:  #fd7e14 !default;
// $yellow:  #ffc107 !default;
// $green:   #28a745 !default;
// $teal:    #20c997 !default;
// $cyan:    #17a2b8 !default;

$body-bg: $layout-color;
$body-color: #373737;
