
$link-color: #111;
$accent-color: #F6D200;
$primary-color: #E30016;
$muted-color: #868e96;
$layout-color: #f1f3f5;
$layout-dark-color: darken($layout-color, 5%);
$theme-colors: (
  "accent": #F6D200,
  "primary": #E30016,
  "danger": #ff4136
);
// $blue:     #F34175;
// $indigo:  #6610f2 !default;
// $purple:  #6f42c1 !default;
// $pink:    #e83e8c !default;
// $red:     #dc3545 !default;
// $orange:  #fd7e14 !default;
// $yellow:  #ffc107 !default;
// $green:   #28a745 !default;
// $teal:    #20c997 !default;
// $cyan:    #17a2b8 !default;

$body-bg: $layout-color;
$body-color: #373737;
$text-color: $body-color;
$font-size-base: 1rem;

// $font-family-base: Arial, Helvetica, sans-serif;

$h1-font-size:                $font-size-base * 2.1;
$h2-font-size:                $font-size-base * 1.6;
$h3-font-size:                $font-size-base * 1.5;
$h4-font-size:                $font-size-base * 1.2;
$h5-font-size:                $font-size-base * 1.1;

$border-radius: 0;
