

$link-color: #000;
$accent-color: #e83e8c;
$muted-color: #868e96;
// $blue:     #F34175;
// $indigo:  #6610f2 !default;
// $purple:  #6f42c1 !default;
// $pink:    #e83e8c !default;
// $red:     #dc3545 !default;
// $orange:  #fd7e14 !default;
// $yellow:  #ffc107 !default;
// $green:   #28a745 !default;
// $teal:    #20c997 !default;
// $cyan:    #17a2b8 !default;

$body-bg: #f1f1f1;
$body-color: #373737;
