
@import "variables";

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

body .container {
    max-width: 1000px;
}

#error-box {
    text-align: center;
    h1 span {
        border-radius: $border-radius;
        display: inline-block;
        padding: 0px 16px;
        margin-left: 10px;
        background: $accent-color;
        color: $primary-color;
    }
    a {
        color: $primary-color;
    }
}
