mixin shopPager(collection)
  - var currentPage = collection.skip / collection.limit
  - var totalPages = parseInt((collection.total / collection.limit).toString()) + (collection.total % collection.limit > 0 ? 1: 0)
  - var page = 0
  if (totalPages > 1)
    .c-pager
      while page < totalPages
        a.c-pager_a(href=page > 0 ? links.shop({page:page}): links.shop(), class=currentPage===page?'selected':null)= ++page

mixin shopCategoryPager(collection, category)
  - var currentPage = collection.skip / collection.limit
  - var totalPages = parseInt((collection.total / collection.limit).toString()) + (collection.total % collection.limit > 0 ? 1: 0)
  - var page = 0
  if (totalPages > 1)
    .c-pager
      while page < totalPages
        a.c-pager_a(href=page > 0 ? links.shop.category(category.slug, {page:page}): links.shop.category(category.slug), class=currentPage===page?'selected':null)= ++page